* {
    box-sizing: border-box;
}

html {
    margin: 1rem 1rem;
}
.centered {
    background-color:#ffe6ac;
    margin: 1rem .9rem;
}

p {
    margin: 1rem 1rem;
}

.about{
    margin-left: 800px;
}

.container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    padding: 90px;
    grid-template-areas: 
    "box1 box2 box3"
    "box4 box5 box6"
}

.nav, ul {
    background-color: #222;
    padding: 20px;
    text-align: center;
    margin: 1rem 1rem;
}

li {
    display: inline;
    color: #ffe6ac;
}

li a:hover {
    background-color: #ffe6ac;
    text-decoration: none;
  }

a:link, a:visited {
    text-decoration: none;
    color: #c78c06;
    padding: 14px 16px;
    margin: 1rem 1rem;
}


.fa-magnifying-glass {
    padding: 5px;
    color: #c78c06;
    border-top: solid #c78c06;
    border-right: solid #c78c06;
    border-bottom: solid #c78c06;
}

.section {
    position: absolute;
    color: white;
    background-color:rgba(0,0,0,.5);
    margin: 1rem 14rem;
    margin-top: 100px;
    padding: 25px;    
}

.form, .fa-play, button {
    background-color:grey;
}

.fa-play {
    padding: 30px;
    color: white;
}

.form, button {
    margin: 1rem 1rem;
    border: solid #c78c06;
    color: white;
}

/* our vision content */
.banner {
    position: absolute;
    margin: 1rem 5rem;
    margin-top: 100px;
    color: white;
}

/* our services, our team */
h1 {
    margin: 1rem 5.7rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 700;
    font-size: 45px;
}

/* main header */
h2 {
    color: white;
    font-size: 55px;
    padding: 1rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    font-weight: 700;
}

h3 {
   font-size: 20px;
   margin: 1rem 1rem;
}

/* our vision header */
h4 {
    font-size: 55px;
}

/* grid header  */
h5 {
    margin: 1rem 1rem;
    font-size: 25px;
    font-weight: 600;
}

/* about us header, send us a message, location */
h6 {
    margin: 1rem 1rem;
    font-size: 40px;
}


.box {
    min-height: 150px;
    background-color: burlywood;
    justify-content: space-between;
}

.box:nth-child(1){
    grid-area: box1;
    grid-column: 1 / 5;
}


.box:nth-child(2){
    grid-area: box2;
}


.box:nth-child(3){
    grid-area: box3;
}


.box:nth-child(4){
    grid-area: box4;
}


.box:nth-child(5){
    grid-area: box5;
}

/* our team wrapper */
.wrapper {
    background-color:#ffe6ac;
}

.block:nth-child(1):nth-child(1){
    display: flex;
    flex-wrap: wrap;
}

.block:nth-child(2){
    display: flex;
    flex-wrap: wrap;
}

.block:nth-child(3){
    display: flex;
    flex-wrap: wrap;
}

.block:nth-child(4){
    display: flex;
    flex-wrap: wrap;
}

/* hours of operaion table & wrapper */
table, tr, td {
    font-size: 50px;
    border: solid;
    width: 1000px;
    margin: 1rem 1rem;
}

caption {
    margin: 1rem 1rem;
}

.operation {
    margin: 5rem 5rem;
}


.grid-wrapper {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: repeat(3, 1fr);
    border: solid;
}

.grid-item:nth-child(1){
    display: grid;
    background-color: rgba(243, 201, 147, 0.747);
    border-bottom: solid;
}

.grid-item:nth-child(2){
    display: grid;
    background-color: rgba(243, 201, 147, 0.747);
    border-bottom: solid;
    border-left: solid;
}

.grid-item:nth-child(3){
    display: grid;
    border-bottom: solid;
}

.grid-item:nth-child(4){
    display: grid;
    border-bottom: solid;
    border-left: solid;
}

.grid-item:nth-child(5){
    display: grid;
}

.grid-item:nth-child(6){
    display: grid;
    border-left: solid;
}



