* {
    box-sizing: border-box;
}



p {
    margin: 1rem;
}

/* navbar and header */



#main {
    display: none;
}

.clearfix::after {
    display: block;
    content: "";
    clear: both;
}

#logo {
    margin: 1rem;
}

div.navitems {
    background-color: #222;
}

li {
    color: #ffe6ac;
}

li a:hover {
    background-color: #ffe6ac;
    text-decoration: #222;
}

a:link,
a:visited {
    text-decoration: #222;
    color: hsl(42, 94%, 40%);
    
}


/* Search bar */

.searchbar {
    margin: 1rem;
    background-color: #222;
}

#search {
    margin-left: .5rem;
    margin-bottom: .5rem;
    width: 88%;
    height: 25px;
}


.fa-magnifying-glass {
    padding: 3px;
    color: #c78c06;
    border: #c78c06 solid;
    border-width: .5px;
}



.welcome {
    padding: 1%;
    color: white;
    background-size: cover;
    background-image: url(../images/main-banner.jpg);
}


.about .aboutus {
    max-width: 100%;
    margin: 1rem;

}

.about {
    background-color: #ffe6ac;
    padding-bottom: 5%;
    padding-top: 2%;
}

.form,
.fa-play,
button {
    background-color: #222;
}

.fa-play {
    padding: 30px;
    color: white;
}

.form,
button {
    margin: 1rem 1rem;
    border: solid #c78c06;
    color: white;
}


/* main header */
h2 {
    color: white;
    font-size: 55px;
    padding: 1rem;
    font-family: Verdana, Tahoma, sans-serif;
    font-weight: 700;
}


/* our vision content */
h4 {
    font-size: 40px;
    color: white;
    margin: 1rem;
}

#vision {
    width: 100%;
    max-width: 1200px;
}

.banner {
    position: absolute;
}

#pvision {
    width: 100%;
    color:white;
}

/* grid header  */
h5 {
    margin: 1rem;
    font-size: 25px;
    font-weight: 600;
}


/* our services */
.welcome .start {
    padding: 1rem;
    margin: 1rem;
    background-color: rgba(0,0,0, 0.5);
}


.wrapper {
    margin: 1rem;
}

.wrapper-digital {
    margin: 1rem;
    background-color: #ffe6ac;
}

.wrapper-market {
    margin: 1rem;
    background-color: #ffe6ac;
}

.wrapper-video {
    margin: 1rem;
    background-color: #ffe6ac;
}

.wrapper-web {
    margin: 1rem;
    background-color: #ffe6ac;
}

.wrapper-print {
    margin: 1rem;
    background-color: #ffe6ac;
}


#digital {
    width: 100%;
}

#marketing {
    width: 100%;
}

#video {
    width: 100%;
}

#web {
    width: 100%;
}

#print {
    width: 100%;
}

/* our team, full-name, email*/
h1 {
    margin: 1rem;
    font-size: 25px;
    font-weight: 600;
}

h3 {
    font-size: 20px;
    margin: 1rem;
}


header {
    font-size: 35px;
    margin: 1rem;
}

hr {
    margin: 1rem;
}

.container-grid {
    background-color: #ffe6ac;
    margin: 1rem;
    padding-bottom: 1rem;
}

/* john image */
#john {
    width: 100%;
    max-width: 1200px;
}

/* bob image */
#bob {
    width: 100%;
    max-width: 1200px;
}

/* info/contact secton */

#fullname {
    margin: 1rem;
    width: 100%;
    max-width: 1200px;
}

#text {
    margin: 1rem;
    width: 100%;
    max-width: 1200px;
    padding: 30%;
}

#email {
    margin: 1rem;
    width: 100%;
    max-width: 1200px;
}

#send {
    margin: 1rem;
}

#map {
    width: 100%;
    max-width: 1200px;
    margin: 1rem;
}

/* send us a message, location */
h6 {
    margin: 1rem;
    font-size: 40px;
}

/* hours of operaion table & wrapper */
table,
tr,
td {
    border: solid;
}

td {
    padding: 15px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    padding: 1rem;
    border-left: solid;
    height: 30px;
    background-color: #ffe6ac;
}

caption {
    margin: 1rem;
    font-size: 25px;
}

.operation {
    margin: 1rem;
}

/* footer */

footer {
    margin-left: 20%;
    margin-right: 20%;
    padding: 20px;
    padding-bottom: 20px;
    color: #c78c06;
}

.container {
    background-color: #222;
}

/* desktop layout */

@media screen and (min-width: 760px) {
    #main {
        width: 100%;
    }
    
}


@media screen and (min-width:760px){
    #aboutuspic {
        width: 50%;
    }
    
}

/* nav bar */

@media screen and (min-width: 760px) {
    li {
        display: inline-table;
        margin: 1rem;
    }
}
@media screen and (max-width:760px) {
    li {
        padding: 1rem;
        margin-left: 40%;
    }

    li #homie {
        display: none;
    }
}


@media screen and (min-width: 760px) {
    a#home {
       display: none;
    }

    a:link,
    a:visited {
        display: flex;
    }
    
}

@media screen and (min-width: 760px) {
    .clearfix {
        background-color: #222;
    }
    
}

@media screen and (max-width: 760px) {
    #home {
    color: #222;
}

@media screen and (max-width:760px) {
    .clearfix {
    background-color: #c78c06;
}


@media screen and (max-width:760px) {
    .clearfix::after {
        display: block;
        content: "";
        clear: both;
    }
}


@media screen and (max-width:760px){
    #aboutuspic {
        width: 100%;
    }
}



/* desktop our services */

@media screen and (min-width: 760px) {
    .wrapper {
        margin: 1rem;
        width: 33%;
        background-color: #ffe6ac;
    }
    
}

@media screen and (min-width: 760px) {
    .container-grid {
        display: none;
        flex-direction: row;
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas: 
        "john bob"
    }

}

@media screen and (min-width: 760px) {
    .ourteam {
        display: flex;
        background-color: #ffe6ac;
    }
}